{% extends "base.html" %}
{% block content %}
	<a href="{% url 'register_url' %}">Зарегестрироваться</a>
	<a href="{% url 'user_login_url' %}">Войти</a>
	<a href="{% url 'user_logout_url' %}">Выйти</a>
{% endblock %}