body{
	margin: 0;

}
.logo_button{
	text-decoration: none;
	color: #f4f8ff;
}
.logo_button:hover{
	text-decoration: none;
	color: #f4f8ff;
}
.header{
	height: 70px;
	background-color: #144691;
}
.main{
	min-height: 100vh;
	background-color: #f9f9f9;
}
.footer{
	height: 400px;
	background-color: #394151;
	padding-top: 15px;
}
.home{
	margin-top: 9px;
}
.profile{
	margin-top: 9px;
}
.fas{
	font-size: 50px;
	color: #f4f8ff;
}
.logo{
	text-align: center;
	font-size: 37px;
	margin-top: 7px;
	padding-bottom: 2px;
	color: #f4f8ff;
	margin-right: 5px;
}
.col-md-8{
	border-width: 2px;
}
.user{
	color: white;
	font-size: 35px;
	margin-top: 8px;
}
/*
tab
*/
table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;

}
td:first-child {
background: #72a5cc;
color: white;
padding: 10px 20px;
}
td {
border-style: solid;
border-width: 1 5px 5px 0;
border-color: #D8E6F3;
}
td {
background: #f9f9f9;
}
td:first-child {
text-align: left;
}
.fa-check-circle{
	color: green;
}
.fa-times-circle{
	color: red;
}


/*
js
*/

#add_b{
	display: none;
}

