{% extends "base.html" %}
{% block content %}

Введите слово на русском и получите перевод
<br>
<br>
<form id="form"> 
	<input type="text" name="word" id="message">
	<button type="submit">Перевести</button>
</form>
<br>
Перевод: 
<div id="message_place">
				
</div>
<br>

<div id="add_b">
<form id="add_submit">
	{% csrf_token %}
	<button type="submit" name="add">Добавить слово</button>
</form>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
var socket_url = 'ws://' + window.location.host + window.location.pathname		
var socket = new WebSocket(socket_url)

//var chatHolder = $("#message")

socket.onopen = function(event){
	console.log('open',event)	
	var form = $('#form')
	var submit = $('#add_submit')
	form.submit(function(e){
		e.preventDefault()
		var mt = $('#message').val()
		var q = 'false'
		$('#add_b').css('display','block')
		data = {
			'mt':mt,
			'q':q
		}
		socket.send(JSON.stringify(data))
	})
	submit.submit(function(e){
		e.preventDefault()
		var mt = $('#message').val()
		var q = 'true'
		data = {
			'mt':mt,
			'q':q
		}
		socket.send(JSON.stringify(data))
	})

}
socket.onmessage = function(event){	
	console.log(event.data)

	$('#message_place').text(event.data)
}

socket.onclose = function(event){
	console.log('close',event)
}

</script>


{% endblock %}