{% extends "base.html" %}
{% block content %}
Сейчас: {{profile.pack.lang}}
<form action="{% url 'choice_lang_url' %}">
<label><input type="radio" name="chose" value="ru-en"> Английский</label>
<br>
<label><input type="radio" name="chose" value="ru-es"> Испанский</label>
<br>
<label><input type="radio" name="chose" value="en-ja"> Японский</label>
<br>
<button type="submit">подтвердить</button>
</form>
{% endblock %}