{% extends "base.html" %}
{% block content %}
	{% if request.user.is_authenticated %}
	<a href="{% url 'profile_url' %}">Мой профиль</a>
	<br>
	<a href="{% url 'add_url' %}">Добавить слов</a>
	<br>
	<a href="{% url 'lesson_url' %}">Уроки</a>
	{% else %}
	<a href="{% url 'user_login_url' %}">Войдите</a> или <a href="{% url 'register_url' %}">Зарегестрируйтесь</a>
	{% endif %}
{% endblock %}