{% extends "base.html" %}
{% block content %}

<div class="card" id='chr' style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <a class="card-text" href="{% url 'chr_e_url' %}">Выберите перевод(русский - английский)</a> {{chosen}}
  </div>
</div>
<div class="card" id="che" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <a class="card-text" href="{% url 'che_r_url' %}">Выберите перевод(английский - русский)</a> {{choser}}
  </div>
</div>
<div class="card" id="com" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <a class="card-text" href="{% url 'compil_url' %}">Соберите слово</a> {{compil}}
  </div>
</div>
<div class="card" id="rus" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <a class="card-text" href="{% url 'russia_url' %}">Введите слово(русский - английский)</a> {{inpute}}
  </div>
</div>
<div class="card" id="eng" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <a class="card-text" href="{% url 'english_url' %}">Введите слово(английский - русский)</a> {{inputr}}
  </div>
</div>
<div class="card" id="eng" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <a class="card-text" href="{% url 'yesno_url' %}">Верное / Не верное</a> {{yesno}}
  </div>
</div>


{% endblock %}