{% extends "base.html" %}
{% block content %}
	{{profile.user}}
	<br>
	Язык сейчас: {{profile.pack.lang}}
	<br>
	<a href="{% url 'choice_lang_url' %}">Выбрать язык</a>
	<hr>
	Очков: {{profile.point}}
	<br>
	Слов всего: {{count_all}}
	<br>
	Слов на обучении: {{count_process}}
	<br>
	Слов выучено: {{count_learn}}
	<br>
	<a href="{% url 'user_logout_url' %}">Выйти</a>
	<hr>

<form action="{% url 'profile_url' %}">

<table>
	<tr>
		<td>Слово</td>
		<td>Переведи с английского и выбери</td>
		<td>Переведи с русского и выбери</td>
		<td>Переведи и собери</td>
		<td>Переведи с английского и набери</td>
		<td>Переведи с русского и набери</td>
		<td>Верно или нет</td>
		<td><button type="submit">Забыть</button></td>
		<td><input type="checkbox" name='delete' value="True">Удалить</td>

	</tr>
{% for word_all in word_all %}

	<tr>
		<td>{{word_all.word.engw}} {{word_all.word.rusw}}</td>
		<td>{% if word_all.choser == True %} <i class="fas fa-check-circle"></i>{% else %}<i class="fas fa-times-circle"></i>{% endif %}</td>
		<td>{% if word_all.chosen == True %} <i class="fas fa-check-circle"></i>{% else %}<i class="fas fa-times-circle"></i>{% endif %}</td>
		<td>{% if word_all.compil == True %} <i class="fas fa-check-circle"></i>{% else %}<i class="fas fa-times-circle"></i>{% endif %}</td>
		<td>{% if word_all.inputr == True %} <i class="fas fa-check-circle"></i>{% else %}<i class="fas fa-times-circle"></i>{% endif %}</td>
		<td>{% if word_all.inpute == True %} <i class="fas fa-check-circle"></i>{% else %}<i class="fas fa-times-circle"></i>{% endif %}</td>
		<td>{% if word_all.yesno == True %} <i class="fas fa-check-circle"></i>{% else %}<i class="fas fa-times-circle"></i>{% endif %}</td>
		<td><input type="checkbox" name="select" value={{word_all.id}}></td>
	</tr>

{% endfor %}
</table>
</form>
{% endblock %}
