{% extends "base.html" %}
{% block content %}
<br>
Войдите или <a href="{% url 'register_url' %}">зарегестрируйтесь</a> 
	<form action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="submit">
	</form>
{% endblock %}