{% extends 'base.html' %}
{% block content %}
{% if q == 'Введите перевод' %}


<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">{{task.word.engw}}</div>
  <div class="card-body text-dark">
  	{{q}}
    <form action="{% url 'che_r_url' %}">
		<div id="shuffle">
			{% for word in word %}
				 <div><label><input type="radio" name="chose" value="chose"> {{word.rusw}}</label></div>
			{% endfor %}
			<div><label><input type="radio" name="chose" value="true"> {{task.word.rusw}}</label></div> 
		</div>
		<button type="submit">Подтвердить</button>
	</form>
  </div>
</div>
<hr>
<a href="{% url 'lesson_url' %}">Выйти из тренировки</a>


{% block extrahead %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock extrahead %}
<script>
    
$(function () {
    var parent = $("#shuffle");
    var divs = parent.children();
    while (divs.length) {
        parent.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);
    }
});

</script>

{% else %}

<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">{{q}}</div>
  <div class="card-body text-dark">
  	<a href="{% url 'che_r_url' %}"><button type="submit">Продолжить</button></a>
  	<a href="{% url 'lesson_url' %}">Выйти</a>
  </div>
</div>


{% endif %}

{% endblock %}