{% extends "base.html" %}
{% block content %}
{% if q == 'Введите перевод' %}


<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">
  	{{task.word.rusw}}
  	<br>
  	{{shuffled}}
  </div>
  <div class="card-body text-dark">
  	{{q}}
    <form action="{% url 'compil_url' %}">
		<input type="text" name="answer" autocomplete="off">
		<button type="submit">Ответить</button>
	</form>
  </div>
</div>
<hr>
<a href="{% url 'lesson_url' %}">Выйти из тренировки</a>

{% else %}

<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">{{q}}</div>
  <div class="card-body text-dark">
  	<a href="{% url 'compil_url' %}"><button type="submit">Продолжить</button></a>
  	<a href="{% url 'lesson_url' %}">Выйти</a>
  </div>
</div>

{% endif %}
{% endblock %}