{% extends "base.html" %}
{% block content %}
<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">
    <form action="{% url 'english_url' %}">
  {% for task in task %}
      {{task.word.engw}}
      <input type="text" name="answer" autocomplete="off">
      <br>
  {% endfor %}
  <button type="submit">Ответить</button>
  </form> 
</div>
<div class="card-header"></div>
  <div class="card-body text-dark">

  </div>
</div>
<hr>
<a href="{% url 'lesson_url' %}">Выйти из тренировки</a>




<hr>
<hr>
<hr>
<hr>



<form action="{% url 'english_url' %}">
<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">
 
      <p id="cardText">
        
      </p>
  </div>
  <div class="card-body text-dark">
    <input type="button" id="prevCard" value="previous" onclick="cardsHandle.cardMove(-1);"/>
      <span id="positionIndex">0/0</span>
    <input type="button" id="nextCard" value="next" onclick="cardsHandle.cardMove(1);"/>
  </div>
  
</div>
<hr>

 <button type="submit">Ответить</button>

<a href="{% url 'lesson_url' %}">Выйти из тренировки</a>


<script>
  function Card(front){
            /*A card is just a container that holds a front and back value! 
                - You can get either back or front by displaying it*/
            this.frontVal = front;
            this.display = function(side){

                    return this.frontVal;

            };
        }

    var cardsHandle = {
            cards: [],
            cardInd: 0,
            cardText: document.getElementById("cardText"),
            cardTPosition: document.getElementById("positionIndex"),


            cardAdd: function(front){
                this.cards.push( new Card(front) );
            },
            cardUpdate: function(){
                var curCard = this.cards[ this.cardInd ];
                this.cardText.innerHTML = curCard.display();
                this.cardTPosition.innerHTML = (this.cardInd+1)+"/"+this.cards.length;

            },
            cardMove: function(moveBy){
                this.cardInd += moveBy;        
                this.cardUpdate();
                
            },

        };
    {% for task in task %}
      cardsHandle.cardAdd('{{task.word.engw}} <input type="text" name="answer" autocomplete="off"> <br>');
    {% endfor %}
    cardsHandle.cardUpdate();
</script>

</form> 
{% endblock %}