{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">
 
      <p id="cardText">
        
      </p>
  </div>
  <div class="card-body text-dark">
      <span id="positionIndex">0/0</span>
    <input type="button" id="nextCard" value="next" onclick="cardsHandle.cardMove(1);"/>
  </div>
  
</div>
<hr>

 <button type="submit">Ответить</button>

<a href="{% url 'lesson_url' %}">Выйти из тренировки</a>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script type="text/javascript" language="javascript">





//---------------------------------------------------------------
//Our code! ->Made by us!



  function Card(front){
            /*A card is just a container that holds a front and back value! 
                - You can get either back or front by displaying it*/
            this.frontVal = front;
            this.display = function(side){

                    return this.frontVal;

            };
        }

    var cardsHandle = {
            cards: [],
            arrTrue: [],
            arrFalse: [],
            cardInd: 0,
            cardText: document.getElementById("cardText"),
            cardTPosition: document.getElementById("positionIndex"),


            cardAdd: function(front){
                this.cards.push( new Card(front) );
            },
            cardUpdate: function(){
                var curCard = this.cards[ this.cardInd ];
                this.cardText.innerHTML = curCard.display();
                this.cardTPosition.innerHTML = (this.cardInd+1)+"/"+this.cards.length;

            },
            cardMove: function(moveBy){
                answer = $('#answer');
                data = $('#myVar');
                console.log(data.data());
                console.log(answer.val());
                answerTrue = data.data()['answer'];
                console.log(answerTrue)
                if(answer.val()=== answerTrue) {
                  this.arrTrue.push(data.data()['id']);
                } else{
                  this.arrFalse.push(data.data()['id']);
                }
                console.log(this.arrTrue);
                if (this.cardInd === 3) {


                  //---------------------------------------------------------------
                  //Our code! ->Made by us!


 
                      //Django basic setup for accepting ajax requests.
                      // Cookie obtainer Django

                      function getCookie(name) {
                          var cookieValue = null;
                          if (document.cookie && document.cookie !== '') {
                              var cookies = document.cookie.split(';');
                              for (var i = 0; i < cookies.length; i++) {
                                  var cookie = jQuery.trim(cookies[i]);
                                  // Does this cookie string begin with the name we want?
                                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                      break;
                                  }
                              }
                          }
                          return cookieValue;
                      }
                      var csrftoken = getCookie('csrftoken');
                      // Setup ajax connections safetly

                      function csrfSafeMethod(method) {
                          // these HTTP methods do not require CSRF protection
                          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                      }
                      $.ajaxSetup({
                          beforeSend: function(xhr, settings) {
                              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
                              }
                          }
                      });


                      
                  //Our code! ->Made by us!
                  //---------------------------------------------------------------
                  var arr = this.arrTrue;
                  var jsonText = JSON.stringify(arr);
                  console.log(jsonText);
                  $.ajax({
                      url: '/r_e_ajax_request/',
                      data: {
                      'messageTrue': jsonText,
                      },
                      dataType: 'json',
                      type: 'POST',
                  });
                  
                  




                } else{
                  this.cardInd += moveBy;        
                  this.cardUpdate();
                }
                         
            },
        };
      
      
    {% for task in task %}     
      cardsHandle.cardAdd('{{task.word.rusw}} <input id="answer" type="text" name="answer" autocomplete="off">  <input type="hidden" id="myVar" data-id="{{task.id}}" data-answer="{{task.word.engw}}" >  <br>');
    {% endfor %}
    cardsHandle.cardUpdate();

 
</script>



{% endblock %}