{% extends 'base.html' %}
{% block content %}


<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header"><p id="cardText"></p></div>
  <div class="card-body text-dark">
    <input type="button" id="nextCard" value="next" onclick="cardsHandle.cardMove(1);"/>
  </div>
  <span align="center" id="positionIndex">0/0</span>
</div>
<hr>
<a href="{% url 'lesson_url' %}">Выйти из тренировки</a>
{% for card in card %}
{{card.rusw}}
{% endfor %}

<script>
  function Card(front){
            /*A card is just a container that holds a front and back value! 
                - You can get either back or front by displaying it*/
            this.frontVal = front;
            this.display = function(side){

                    return this.frontVal;

            };
        }

    var cardsHandle = {
            cards: [],
            cardInd: 0,
            cardText: document.getElementById("cardText"),
            cardTPosition: document.getElementById("positionIndex"),


            cardAdd: function(front){
                this.cards.push( new Card(front) );
            },
            cardUpdate: function(){
                var curCard = this.cards[ this.cardInd ];
                this.cardText.innerHTML = curCard.display();
                this.cardTPosition.innerHTML = (this.cardInd+1)+"/"+this.cards.length;

            },
            cardMove: function(moveBy){
                this.cardInd += 1;        
                this.cardUpdate();
                
            },

        };
    {% for task in task %}
      cardsHandle.cardAdd('{{task.word.engw}} </br> {{task.word.rusw}}');
    {% endfor %}
    cardsHandle.cardUpdate();
</script>



{% endblock %}