body{
	margin: 0;
}
.logo_button{
	text-decoration: none;
	color: #f4f8ff;
}
.logo_button:hover{
	text-decoration: none;
	color: #f4f8ff;
}
.header{
	height: 70px;
	background-color: #5e9bff;
}
.main{
	min-height: 100vh;
	background-color: #f8f9fa;
}
.footer{
	height: 400px;
	background-color: #394151;
}
.home{
	margin-top: 9px;
}
.profile{
	margin-top: 9px;
}
.fas{
	font-size: 50px;
	color: #f4f8ff;
}
.logo{
	text-align: center;
	font-size: 37px;
	margin-top: 7px;
	padding-bottom: 2px;
	color: #f4f8ff;
	margin-right: 5px;
}
.col-md-8{
	border-width: 2px;
}