{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-1">
					<div class="home"><a class="button" href="{% url 'index_url' %}"><i class="fas fa-home"></a></i></div>				
				</div>
				<div class="col-md-1">
					<div class="profile"><a class='button' href="{% url 'profile_url' %}"><i class="fas fa-user-alt"></i></a></div>
				</div>
				<div class="col-md-1">
					<div class="logo"><a class='button' href="{% url 'lesson_url' %}"><i class="fas fa-book"></i></a></div>	
				</div>
				<div class="col-md-1">
					<div class="user"><a href="{% url 'add_url' %}" class="button"><i class="fas fa-plus"></i></a></div>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>		
	</div>
	<div class="footer">
		
	</div>

</body>
</html>